.breadcrumb-not-active {
    color: #b3b0b0;
   font-weight: 600;
   font-size: 15px;
   text-decoration: none;
   margin-right: 3px;
}

.breadcrumb-active {
    color: #000000;
    font-size: 15px;
    text-decoration: none;
    font-weight: 600;
        text-decoration: none;
        margin-right: 3px;
}

/* .breadcrumb-arrow {
    margin-left: 10px;
    margin-right: 10px;
} */



