/* styles.css */

.inputContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}

.inputWrapper {
  display: flex;
  justify-content: space-between;
}

.label {
  font-weight: 400;


}

.inputField {
  width: 100%;
  padding:.60rem;
  font-weight: 500;
  border: 1px solid slategray;
  border-radius: 0.10rem;
  opacity: 0.6;

}

.formContainer {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1.25rem;
  text-align: center;
}

.formGrid {
  display: grid;
  gap: 1.25rem;
  margin: 2rem;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}


.PurposeGrid{
padding: 2rem 2rem 0rem 2rem;
}

.Address{
  padding: 0rem 2rem 2rem 2rem;
}

 .Button  {

  background-color: #71b944;
    color: white;
    padding: 10px;
}

