.Csv{
    /* border: 1px solid red; */
    /* display: flex; */

}

.Csv button{
    float: left;
    display: flex;
    border: none;
    margin: 25px 5px 0px 0px;
    border-radius: 2px;
    background-color: blue;
    flex-direction: row;
    cursor: pointer;
}